<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Home Page">
  <test thread-count="5" name="Swiper Slide Tests">
    <classes>
      <class name="miroslavahristova.MHSeleniumFramework.StrypesTestBasic">
		  <methods>
			<exclude name="tcSlilePaginationNav"/>
		  	<exclude name="tcPagBulletsEqualToSlideCount"/>
		  </methods>  
	  </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
